<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="springBean1" class="com.spring.nonweb.beans.SpringBean1">
	<property name="springBean2" ref="springBean2"></property>
	<property name="springBean3" ref="springBean3"></property>
  </bean>
  
  <bean id="springBean2" class="com.spring.nonweb.beans.SpringBean2"></bean>
  <bean id="springBean3" class="com.spring.nonweb.beans.SpringBean3"></bean>

</beans>